/*
Tan #b68d40
Cream #f4ebd0
Charcoal #122620
Gold #d6ad60
Grey #797979
*/
IngredientForm{
    
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2%;

    flex-direction: column;
    margin-left: 10%;
}

IngredientFormItem{

    width: 100%;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;

}

IngredientInput{
    
    display: flex;
    flex-direction: row;
    border-top: 1px solid #797979;
    border-bottom: 1px solid#797979;
    padding: 1%;
    width: 90%;
}

form.RecipeCreation{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}


StepInputMainBody{
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    border-top: 1px solid #797979;
    border-bottom: 1px solid #797979;
}

StepInputLeft{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width:80%;
}

StepInputRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
}


StepForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

StepFormList{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

InputBox{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    width: 80%;
}

input.RecipeTitleInput{
    font-size: 50pt;
    padding: 1%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: 100%
    
}


input.RecipeInput{
    font-size: medium;
    padding: 1%;
    font-family: 'Times New Roman', Times, serif;
}

label.RecipeInput{
    font-size: medium;
    padding: 1%;
    font-family: 'Times New Roman', Times, serif;
}


textarea.RecipeInput{
    font-size: medium;
    padding: 1%;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
}


.CreateButton{
    border: 1px solid #d6ad60;
    background: none;
    border-radius: 1rem;
    padding : 3%;
    transition-duration: 500ms;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20pt
}

.CreateButton:hover{
    background: #d6ad60;
    cursor: pointer;
}

HomeButton{
    border: 1px solid #d6ad60;
    background: none;
    border-radius: 1rem;
    padding : 7px;
    transition-duration: 500ms;
    display: inline-block;
    margin: 1%;
}

HomeButton:hover{
    background: #d6ad60;
    cursor: pointer;
}


PreferenceButton{
    border: 1px solid #797979;
    background: none;
    border-radius: 1rem;
    padding : 7px;
    transition-duration: 500ms;
    display: inline-block;
    margin: 1%;
}

PreferenceButton:hover{
    background:#797979;
    cursor: pointer;
}

.PreferencesForm{

    height: 50%;
}

PreferencesHeading{
    
    font-size: 30pt;
    display: inline-block;
    margin-bottom: 2%;
    text-decoration: underline;
}

LeftPreferences{

    width: 50%;
}
RightPreferences{

    width: 50%;
    display: flex;
    flex-direction: column;
}

MainPreferences{
    
    display: flex;
    flex-direction: row;
    height: 50%;
}

Requirements{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 3%;
}

PreferenceCheck{

}

RecipeBooks{
    
    padding: 3%;
    display: flex;
    flex-direction: column;
}
.SaveButton{
    border: 1px solid #d6ad60;
    background: none;
    border-radius: 1rem;
    padding : 7px;
    transition-duration: 500ms;
    display: inline-block;
    margin: 1%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
}

.SaveButton:hover{
    background: #d6ad60;
    cursor: pointer;
}

AddButton{
    border: 1px solid #d6ad60;
    background: none;
    border-radius: 1rem;
    padding : 7px;
    transition-duration: 500ms;
    display: inline-block;
    margin: 1%;
}

AddButton:hover{
    background: #d6ad60;
    cursor: pointer;
}

RemoveButton{
    border: 1px solid #d6ad60;
    background: none;
    border-radius: 1rem;
    padding : 7px;
    transition-duration: 500ms;
    display: inline-block;
    margin: 1%;
    text-align: center;
}
RemoveButton:hover{
    background: #d66060;
    cursor: pointer;
}


RecipeLink{
    border: 1px solid #122620;
    background: none;
    border-radius: 1rem;
    padding : 10px;
    transition-duration: 500ms;
    display: inline-block;

    margin: 0.5%;
}
 
RecipeLink:hover{
    background: #d6ad60;
    cursor: pointer;
}

CreateRecipe{
    border: 1px solid #122620;
    background: none;
    border-radius: 1rem;
    padding : 10px;
    transition-duration: 500ms;
    display: inline-block;

    margin: 10%;
}

CreateRecipe:hover{
    background: #d6ad60;
    cursor: pointer;
}

NextButton, StartButton{
    border: 1px solid #d6ad60;
    background: none;
    border-radius: 1rem;
    padding : 2%;
    transition-duration: 500ms;
    display: inline-block;
}

NextButton:hover, StartButton:hover{
    background: #d6ad60;
    cursor: pointer;


}

div.recipeBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



Recipe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

RecipeTitle{
    font-size: 50pt;
    text-decoration: underline;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

RecipeDescription{
    font-size: 25pt;
    text-decoration: none;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    display: inline-block;

}

IngredientsTitle{
    text-decoration: underline;
}

Ingredients{
    font-size: 25pt;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    list-style: circle;
    padding: 3%;
}



Step{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
    width: 100%;
}

StepTitle{
    font-size: 40pt;
    text-decoration: underline;
    width: 100%;
    text-align: center;
}

StepTimeToComplete{
    font-size: 20pt;
    width: 100%;
    text-align: center;
    color: #797979
}

StepInfo{
    display: flex;
    justify-content: space-around;
    padding: 5%;
    width: 75%;
}

StepDescription{
    font-size: 25pt;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50%;
}

StepSeparator{
    width: 1px;
    background-color: #b68d40;
    transition-duration: 1s;
    margin: 5%;
}

Step Ingredients{
    width: 50%;
}

Timer{
    border: 4px solid #b68d40;
    width: 80%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

TimerValue{
    font-size: 50pt;
    display: inline-block;
    text-align: center;

}

Timer TimerValue.InProgress{
    color:#122620
}

Timer TimerValue.Complete{
    color: #d6ad60
}


TimerButtons{
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 1%;
    width: 25%;
    min-width: fit-content;
}


mediaButton{
    border: 1px solid #d6ad60;
    background: none;
    border-radius: 1rem;
    padding : 5%;
    transition-duration: 500ms;
    display: inline-block;
}

mediaButton:hover{
    background: #d6ad60;
    cursor: pointer;
}
