/*
Tan #b68d40
Cream #f4ebd0
Charcoal #122620
Gold #d6ad60
*/


RecipeLink{
    border: 1px solid #122620;
    background: none;
    border-radius: 1rem;
    padding : 10px;
    transition-duration: 500ms;
    display: inline-block;

}
 

RecipeLink:hover{
    background: #d6ad60;
}

a.NextButton, a.StartButton{
    border: 1px solid #d6ad60;
    background: none;
    border-radius: 1rem;
    padding : 2%;
    transition-duration: 500ms;
    margin-left: 80%;
    display: inline-block;
}

a.NextButton:hover, a.StartButton:hover{
    background: #d6ad60;


}




Recipe{

}

RecipeTitle{
    font-size: 50pt;
    text-decoration: underline;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

RecipeDescription{
    font-size: 25pt;
    text-decoration: none;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    display: inline-block;

}

IngredientsTitle{
    text-decoration: underline;
}

Ingredients{
    font-size: 25pt;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    list-style: circle;
    padding: 1%;
}



Step{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

StepTitle{
    font-size: 40pt;
    text-decoration: underline;
    width: 100%;
    text-align: center;
}

StepInfo{
    display: flex;
    justify-content: space-around;
    padding: 5%;
}

StepDescription{
    font-size: 25pt;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-left: 1px solid #b68d40;
}

Timer{
    border: 4px solid #b68d40;
    font-size: 50pt;
    width: 80%;
    display: inline-block;
    text-align: center;
    border-radius: 1rem;
}

Timer.InProgress{
    color:#122620
}

Timer.Complete{
    color: #d6ad60
}
